# Dependências
node_modules/

# Build do Next
.next/
out/
dist/

# Logs & sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.log

# Tipos
*.tsbuildinfo

# Ambiente
.env
.env.*.local

# Editor
.vscode/
.idea/

# Testes
coverage/

# Imagens pesadas de design (se não usar LFS)
design/**/*.psd
design/**/*.ai
design/**/*.fig
